apache-airflow==2.0.0
apache-airflow-providers-google==1.0.0
ds-box==1.4.2
eli5==0.10.1
google-cloud-core[grpc]>=1.4.1
google-auth>=1.21.3
google-cloud-bigquery>=1.28.0
google-cloud-bigquery-storage>=1.1.0
google-auth-httplib2>=0.0.4
google-api-python-client>=1.7.11
pandas_gbq>=0.13.2
google-cloud-storage>=1.31.2
pandas==1.2.1
numpy==1.19.5
PyYAML>=5.4.1
scikit-learn==0.23.2
smart-open>=4.1.2
pyarrow>=2.0.0